* {
    margin-top: 0;
    margin-bottom: 0;
}

.note {
    padding-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
    text-align: center;  
}

header {
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    background-color: rgb(225, 202, 162, 0.8);
    color: rgb(59, 58, 50, 0.9);
    text-align: center;   
}

h1 {
    padding-top: 26px;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;  
    text-shadow: 0.5px 1px rgba(51, 52, 46, 0.2);
}
    
h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color:rgba(51, 52, 46, 0.9);
    margin-bottom: 10px;    
}

.subHeader {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    margin-top: 2px;
    margin-left: 250px;
}

p {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;  
}

.summary {
    padding-top: 50px;
}

.summary, .social, .contact  {
    max-width: 1000px;
    text-align: justify;
    line-height: 20px;
    margin: auto;
    margin-top: 15px;   
}

.list {
    list-style: none;
    padding-left: 0;    
}

.list li {
    display: inline;
    margin-right: 5px;
}

.list a {
    color: rgba(51, 52, 46, 0.9);
    font-size: 30px;
}

a:hover {
    color: rgba(225, 202, 162);
}

a {
    color: rgba(51, 52, 46, 0.9);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    text-decoration: none;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    background-color:  rgba(225, 202, 162, 0.8);
    text-align: center; 
    margin-top: 20px;    
}

@media only screen and (max-width: 600px) {

h1 {
    font-size: 40px;
    }
}

